.team-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  display: grid;
  grid: auto-flow/ 1fr 1fr 1fr 1fr;
}
.team-container > * {
  background-color: #ffcccc;
}
