@tailwind base;
@tailwind components;
@tailwind utilities;

/*aarambh purple 
* gradient from 510e85 to c98adf / 862ccc*/

.jumbotron-section {
  background-image: url("./assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg");
  color: white;
}

.title {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 9rem;
  font-weight: 900;
  margin: 1rem;
}

.title-2 {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 6rem;
  font-weight: 800;
  margin: 1rem;
}

.title-3 {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 4rem;
  font-weight: 500;
  margin: 1rem;
}

.description {
  font-family: "Source Code Pro";
  font-size: 1rem;
  font-weight: 200;
  margin: 1rem;
}

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.wrapper-left {
  display: flex;
  text-align: center;
  justify-content: left;
  flex-direction: column;
  min-height: 100vh;
  width: 51%;
}
.wrapper-right {
  display: flex;
  float: right;
  text-align: center;
  justify-content: left;
  flex-direction: column;
  min-height: 100vh;
  width: 51%;
}
