@tailwind base;
@tailwind components;
@tailwind utilities;

/*aarambh purple 
* gradient from 510e85 to c98adf / 862ccc*/
body {
  background-color: #0b0323;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 9rem;
  font-weight: 900;
  margin: 1rem;
}

.title-2 {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 6rem;
  font-weight: 800;
  margin: 1rem;
}

.title-3 {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem;
}
.title-4 {
  @apply bg-gradient-to-r from-[#510e85] to-[#c98adf] bg-clip-text text-transparent;
  font-family: "Source Code Pro";
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem;
}

.description {
  font-family: "Source Code Pro";
  color: #be81d4;
  font-size: 1rem;
  font-weight: 200;
  margin: 1rem;
}

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.wrapper-left {
  display: flex;
  text-align: center;
  justify-content: left;
  flex-direction: column;
  min-height: 100vh;
  width: 51%;
}
.wrapper-right {
  display: flex;
  float: right;
  text-align: center;
  justify-content: left;
  flex-direction: column;
  min-height: 100vh;
  width: 51%;
}
.overlay-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.name-card {
  font-family: "Source Code Pro";
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  color: #be81d4;
}

.name-card-image {
  border-radius: 50%;
  object-fit: cover;
  max-height: 9rem;
  max-width: 9rem;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
  color: #f4904e;
}
.field {
  font-weight: 400;
}
.lead-namebox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.member-namebox {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  column-gap: 1rem;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: transparent;
}
#webgi-canvas-container .button {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  position: absolute;
  top: 30px;
  border: none;
  transition-duration: 0.3s;
}
